<!DOCTYPE html>
<html>
<head>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  <title>Example</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
  <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
  <div class="irc_mutc iLhbJer2rpf0-s4mcypHTTek" style=""><a target="_blank" class="irc_mutl i3597 iLhbJer2rpf0-dTEICwVRfZc" rel="noopener" jsaction="mousedown:irc.rl;keydown:irc.rlk" data-noload="" tabindex="0" href="/url?sa=i&amp;rct=j&amp;q=&amp;esrc=s&amp;source=images&amp;cd=&amp;ved=0ahUKEwiB_P7h7vDPAhWTCD4KHbgaCpkQjRwIBw&amp;url=https%3A%2F%2Fpl.wikipedia.org%2Fwiki%2FMalta&amp;psig=AFQjCNFynVKwAAUxqFNRCHVfCwFp-QpxdA&amp;ust=1477310001784707" data-ved="0ahUKEwiB_P7h7vDPAhWTCD4KHbgaCpkQjRwIBw" 
<%= yield %>

</body>
</html>
